main {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #abd904;
    background-image: url("imagenes/yellow-submarine.jpg.png");
    background-repeat: repeat-x repeat-y;
}

#biografia {
    height: 450px;
    width: 350px;
    font-size: 20px;
    position: absolute;
    margin: 10px 100px;
    padding: 10px;
    background-color: rgb(19, 39, 151);
    top: 113.4px;
    bottom: 39.5px;
    left: 0px;
    right: 50%;
    font-family: 'Bodoni Moda', serif;
}

#portada {
    position: absolute;
    top: 100px;
    right: 150px;
}